
/*Index principal*/
body{
    background-color: #181818;
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
}
.contenedor{
    background-color: #373737;
    border-radius: 6px;
    height: 700px;
    width: 700px;
    padding: 5px;
}
.titulo{
    display:grid;
    grid-template-columns: 550px 150px;
    grid-template-rows: 30px;
    justify-content: space-between;
    padding-top: 5px;
}

#principal{
    margin-top: 0px;
    margin-left: 30px;
}
h1{
    margin-top: 2px;
}

.btn-expl{
    background-color: rgb(199, 85, 19);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 1px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
    margin-right: 15px;
}
.btn-expl:hover{
    background-color: rgb(211, 116, 60);
    color: #000000;
    transition: 0.3s;
    box-shadow: #140801d8 6px 6px 4px;
}

#empezar{
    display:flexbox;
}
.instrucciones{
    padding-top: 10px;
}
p{
    font-size: 14px;
}
.pics{
    padding-top: 2px;
    display: flex;
    justify-content: space-around;
}

img{
    transition: 500ms;
}
img:hover{
    transform:scale(1.1);
    cursor: pointer;
}

.btn{
    background-color: rgb(199, 85, 19);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 1px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 18px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: #1d0b02c2 2px 2px 4px;
}
.btn:hover{
    background-color: rgb(211, 116, 60);
    color: #000000;
    transition: 0.2s;
    box-shadow: #140801d8 6px 6px 4px;
}

.botones-control{
    display: flex;
    justify-content: space-around;
}

.container-estadisticas{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-top: 5px;
}
.container-victorias{
    padding-top: 10px;
}
.container-derrotas{
    padding-top: 10px;
}

.cont-input{
    padding-top: 5px;
}
input{
    padding: 2px;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    box-shadow: #000000c2 2px 3px 5px;
    border-radius: 2px;
}
.veces-jugado{
    padding-top: 10px;
}
.estadisticas{
    text-align: center;
    background-color: #181818;
    color: rgb(255, 245, 231);
}



/*Automatizador*/
hr{
    margin-top: 25px;
}
.h4-titulo{
    margin-top: 5px;
}
.container-automatizado{
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 40px;
    align-self: center;
}
.seleccionador{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}
.switcher{
    margin-left: 8px;
    margin-right: 8px;
}



/*Index Explicacion*/
.tituloDos{
    display:grid;
    grid-template-columns: 80px 550px;
    grid-template-rows: 30px;
    justify-content: space-around;
    padding-top: 5px;
    margin-right: 40px;
}
h1{
    margin-top: -20px;
}
.espacio-txt{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17px;
}
.p-exp{
    margin-top: -8px;
}
.spoiler{
    font-size: 20px;
}